@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body{
   /* font-family: 'Poppins', sans-serif; */
    background-color: rgb(251 243 243);;
}
.container1{
    max-width: 1400px;
    margin: auto;
    padding: 0px 0px;
    background-color: rgb(255, 248, 248);
}
.header .row{
    margin-top: 70px;
}
.navbar
{
display: flex;
align-items: center;
padding: 20px 80px 20px 80px;

}
nav{
    flex: 1;
    text-align: right;
    margin-right: 60px;
    width: 100px;
    margin: auto;
}
nav ul{
    display: inline-block;
    list-style: none;
    margin-right: 60px;
}
nav ul li{
    display: inline-block;
    margin-right: 40px;
    width: 80px;
    float: left;
    height: 22px;
    line-height: 35px;
}
ul li ul{
    display: none;
}
ul li:hover ul{
    background: #fff;
    display: block;
}
.fa{
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #9d9d9d;
}
.p{
    color: #9d9d9d;
}
.baneer {
    position: relative;
    text-align: left;
    color: rgb(229, 160, 198)70, 76, 76;   
    max-width: 1400px;
    margin-bottom: -6px;
  }
.baneer img{
    max-width: 100%;
    filter: opacity(0.7) drop-shadow(0 0 0 rgb(245, 171, 183)); 
}
.row-1{
    position:absolute;
    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%);
    color: #000;
}

.btn {
    display: inline-block;
    background: #700505;
    color: #fff;
    padding: 8px 44px;
    margin: 30px 0;
    border-radius: 30px;
    transition: backgroung 0.5s ;
}
.btn:hover{
    background:#bd0f0f ;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.logo{
    font-family: 'Sacramento', cursive;
    font-size: 30px;
}
.fa-caret-down{
    color: #9d9d9d;
}
.img1{
    margin-left: 20px;
    color: #9d9d9d;
}
.product-item{
    border: 1px solid rgb(219, 219, 219);
}
.product-img{
    position: relative;
    overflow: hidden;
}
.btns{
    position: absolute;
    left: 0;
    bottom: -100%;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}
.btns button{
    border: none;
    background-color: rgb(39, 39, 39);
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.btns button:hover{
    color: #fcb941;
}
.product-img:hover .btns{
    bottom: 0;
}

.heart-icon{
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 18px;
}

.product-type{
    font-size: 13px;
    opacity: 0.8;
}
.product-name{
    transition: all 0.3s ease-in-out;
}
.product-name:hover{
    color: #fcb941!important;
}
.product-price{
    color: #fcb941;
}
.rating{
    font-size: 13px;
}
.product-item{
    width: 300px;
}

.row2{
    margin: 80px 0px 0 0px;
    padding: 0 90px 80px 90px;
    flex-basis: 50%;
    display: flex;
    
}
.col-3{
    background-color: rgb(209 209 209);
    min-width: 200px;
    width: 30%;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    display: flex;
}
.col-3-2 {
    margin-top: 20px;
    padding: 10px;
}
.col-3-2 p{
    color:#817a7a ;
}
h5 {
    margin-top: 10px;
    margin-right: 10px;
}
.fa-truck {
    color: #e5dfdf;
    font-size: 200px;
    max-width: 80%;
    margin: 0 0 0 20px;
}
.fa-whatsapp {
    color: #e5dfdf;
    font-size: 200px;
    max-width: 80%;
    margin: 0 0 0 0px;
}
.fa-usd {
    color: #e5dfdf;
    font-size: 200px;
    max-width: 80%;
    margin: 0 0 0 40px;
}
.row3{
    flex-basis: 50%;
    display: flex;
    padding: 0px 0px 40px 0px;
    text-align: center;
}
.row3 p{
    margin: 20px 120px 0 180px;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2px;
    color: #525252;
}
.row3 h3{
    font-size: 26px;
    padding-right: 50px;
}
.row3 h2{
    font-size: 70px;
}
.row3 h1{
    font-size: 16px;
}
.row3 a{
    padding-right: 20px;
}
.btn1{
    display: inline-block;
    background: #700505;
    color: #fff;
    font-size: 14px;
    padding: 6px 10px 6px 20px;
    margin: 20px 30px;
    text-align: center;
    border-radius: 30px;
    transition: backgroung 0.5s;
}






